{%- if project_type == 'application' -%}
apiVersion: v1
kind: Service
metadata:
  name: {{ package_name }}
  namespace: {{ package_name }}
  labels:
    app: {{ package_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ package_name }}
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ package_name }}
  namespace: {{ package_name }}
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
  - hosts:
    - {{ package_name }}.hypersec.io
    secretName: {{ package_name }}-tls
  rules:
  - host: {{ package_name }}.hypersec.io
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ package_name }}
            port:
              number: 80
{%- endif -%}
